html, body {
  height: 100%;
  text-align: center;
}

.codeblock {
  border-left: 6px solid rgba(0,83,159,0.65);
  text-align: left;
  position: relative;
  z-index: 0;
}

.workshop-content {
  width: 80%;
  display: inline-block;
  position: relative;
  z-index: 0;

  h2, h3 {
    color: rgba(0,83,159,0.75);
    text-align: left;
    cursor: default;
  }

  h3 {
    color: rgba(0,83,159,0.65);
    font-size: 1.3em;
  }

  p {
    text-align: left;
    color: rgb(72, 72, 72);
  }
}
